@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cabecalho {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 1291px;
        height: 75px;
        flex-shrink: 0;
        background-color: #0246D0;
        stroke-width: 1px;
        stroke: #000;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        & a {
            width: 190px;
            height: 31px;
            flex-shrink: 0;
            margin: 100px;
            text-decoration: none;
            color: #FFF;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &:hover {
                color: black;
                background-color: rgb(220, 237, 252);
                width: 19vw;
                height: 4vh;
                padding: 22px;
            }
        }
    }
}